@model IEnumerable<TapShoesCanada.Models.Custom_shoe>

@{
    ViewData["Title"] = "Index";
}

<a asp-action="index" asp-controller="Home">Home</a> 
<h1>Custom orders</h1>


<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Id)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Colour1)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Colour2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sole)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Lace)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Colour1)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Colour2)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Sole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lace)
                </td>

                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
