@model TapShoesCanada.Models.Admin_Shoes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Admin_Shoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img_Lk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img_Lk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model_Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
