@model IEnumerable<TapShoesCanada.Models.Shoe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            @*
           
            *@
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
           @*
            
            *@
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
              @*  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
 *@               <a asp-action="Details" asp-route-id="@item.Id">Details |</a> 
                <a asp-action="Index" asp-controller="Cart" asp-route-id="@item.Id" >Add to cart</a>
               @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
