@model TapShoesCanada.Models.CustomCart
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int No = 1;
    decimal Total = 0;
    decimal shTotal = 0;
    int tax = 13;

}

<h1>Cart</h1>
<hr/>
    <div class="col-lg-12">
        <form>
            <div class="table-hover">
                <table class="table table-borderless">
                    <tr>
                        <th>SrNO.</th>
                        <th>Shoe @Html.DisplayNameFor(item => item.Carts[0].Shoe.Model)</th>

                        <th>@Html.DisplayNameFor(item => item.Carts[0].Qty)</th>

                        <th>@Html.DisplayNameFor(item => item.Carts[0].Price)</th>
                        <th>@Html.DisplayNameFor(item => item.Carts[0].TotalPrice)</th>
                        <th>Action</th>
                    </tr>
                    @if (Model.Carts != null)
                    {
                        foreach (var cartItem in Model.Carts)
                        {
                            <tr>
                                <td>@No</td>
                                <td>@cartItem.Shoe.Model</td>
                                <td>@cartItem.Qty</td>
                                <td>@cartItem.Price</td>
                                <td>@cartItem.TotalPrice</td>
                                <td>
                                    <button formaction="@Url.ActionLink("View","Cart",new { id=cartItem.ShoeId })" formmethod="get" class="btn btn-primary">View</button>
                                    <button formaction="@Url.ActionLink("Remove","Cart",new { cartID=cartItem.CartItemId})" class="btn btn-danger" formmethod="post" type="submit">Remove</button>
                                </td>
                            </tr>
                            Total += cartItem.TotalPrice;
                            shTotal += cartItem.TotalPrice;
                            No++;
                        }
                    }
                    @if (Model.CustomCarts == null && Model.Carts == null)
                    {
                        <tr>
                            <td colspan="6" style="text-align: center">---No Item in List----</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" style="text-align: center">---Custom Shoes----</td>
                        </tr>

                    }
                    @if (Model.CustomCarts != null)
                    {
                        foreach (var cartItem in Model.CustomCarts)
                        {
                            <tr>
                                <td>@No</td>
                                <td>@cartItem.Shoe.Model</td>
                                <td>@cartItem.Qty</td>
                                <td>@cartItem.Price</td>
                                <td>@cartItem.TotalPrice</td>
                                <td>
                                    <button formaction="@Url.ActionLink("View","Cart",new { id=cartItem.ShoeId })" formmethod="get" class="btn btn-primary">View</button>
                                    <button formaction="@Url.ActionLink("RemoveCustom","Cart",new { cartID=cartItem.CartItemId})" class="btn btn-danger" formmethod="post" type="submit">Remove</button>
                                </td>
                            </tr>
                            Total += cartItem.TotalPrice;
                            shTotal += cartItem.TotalPrice;
                            No++;
                        }
                    }


                    <tr>
                        @{ decimal p = (shTotal * tax) / 100;
                            shTotal += p;
                            shTotal += 40; }
                        <th>HST 13% (5% Fed and 8% Prov) : @p</th>

                    </tr>

                    <tr>
                        <th>Delivery Charge: $40</th>
                    </tr>

                    <tr>
                        <th colspan="4">Total</th>

                        @* <th>@Total</th>*@

                        <th>$@shTotal</th>

                        <th></th>
                    </tr>
                    @if (Model.Carts != null || Model.CustomCarts != null)
                    {
                        <tr>
                            <th colspan="5"></th>
                            <th><input type="submit" class="btn btn-primary" value="Checkout" formmethod="post" formaction="@Url.ActionLink("Checkout", "Cart")"></th>
                        </tr>
                    }
                </table>
            </div>
        </form>
    </div>
